
/********/
/* Base */
/********/

body {
	padding-top: 51px;
	margin: 0;
	background-color: #d8d8d8;
	font-family: 'sans-serif', 'Helvetica', 'Arial';
}

h1,h2,h3,h4 { color: #3378b9; }

h1 {
	margin-bottom: 40px;
	border-bottom: 1px solid #bbb;
	font-size: 1.6em;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
}

th,td {
	padding: 9px 10px 4px;
	border-bottom: 1px solid #bbb;
	vertical-align: top;
}

tr.user {
	cursor: pointer;
	-webkit-transition: background-color .7s;
	        transition: background-color .7s;
}

tr.user:hover {
	background-color: #e5e5e5;
}

p.error { color: red; }

li {
	margin: 5px 0;
	list-style-type: none;
}

a {
	padding: 4px 0;
	background: linear-gradient(#23a3ff,#23a3ff) bottom no-repeat;
	background-size: 0 2px;
	color: #555;
	text-decoration: none;
	transition: background-size .2s;

}

a:hover {
	background-size: 100% 3px;
	cursor: pointer;
}

/********/
/* Main */
/********/

#container {
	min-width: 350px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.invisible {
	display: none;
}

#content {
	width: 600px;
	margin: 0 auto;
	text-align: center;
	background-color: #fff;
	border: 1px solid #c0c0c0;
}

#wrap { padding: 3em; }

/***********/
/* Top bar */
/***********/

#alert-box {
	width: 100%;
	padding: 3px 0;
	background-color: #f7e8bc;
	border-bottom: 1px solid #c0c0c0;
	text-align: center;
	margin-bottom: 20px;
}

#alert-box #close-box {

}

/************/
/* Nav menu */
/************/

#nav-menu {
	position: fixed;
	top: 0;
	width: 100%;
	height: 51px;
	line-height: 51px;
	background-color: #e5e5e5;
	border-bottom: 1px solid #c0c0c0;
	vertical-align: middle;
	white-space: nowrap;
}

#nav-menu a { line-height: 1; }

/*********************/
/* Name App Animation*/
/*********************/

#nav-menu #name-app {
	float: left;
	margin-left: 30px;
	font-size: 1.3em;
}

#nav-menu #name-app a {
	color: #666;
	background: none;
}

#nav-menu #name-app span.text,
#nav-menu #name-app span.return,
#nav-menu #name-app a::before {
  position: absolute;
  top: 15px;
  display: inline-block;
	transition: all .3s;
	transition-delay: .1s;
}

#nav-menu #name-app span.text {
  left: 45px;
  opacity: 1;
  font-weight: bold;
}

#nav-menu #name-app:hover span.text {
  left: 65px;
  opacity: 0;
}

#nav-menu #name-app span.return {
  left: 65px;
  opacity: 0;
}

#nav-menu #name-app:hover span.return {
  left: 45px;
  opacity: 1;
}

#nav-menu #name-app a::before {
	content: 'â†';
	top: 14px;
	left: -10px;
	opacity: 0;
}

#nav-menu #name-app a:hover::before {
	left: 18px;
	opacity: 1;
}

/*********/
/* Links */
/*********/

#nav-menu nav#links {
	font-size: 1em;
	float: right;
	margin-right: 30px;
}

#nav-menu nav#links a { margin-left: 10px; }

#nav-menu ul { margin: 0 5px; }

#nav-menu #other-actions { line-height: 20px; }

#nav-menu #link-other-actions #other-actions {
	opacity: 0;
	position: absolute;
	top: 48px;
	background-color: #e8e8e8;
	border: 1px solid #999;
	transition: all 0.4s;
	padding-bottom: 6px;
}
#nav-menu #link-other-actions #other-actions ul {
	padding: 5px 5px 0;
}

#nav-menu #link-other-actions #other-actions a {
	margin: 0;
}

#nav-menu #link-other-actions:hover #other-actions {
	opacity: 1;
}

/********/
/* Form */
/********/

form:not(#form-modify-profile) {
	width: 407px;
	margin: 25px auto 0px;
	background-color: #fff;
	border: 1px solid #c0c0c0;
}

form h3 {
	padding: 5px;
	margin: 0;
	background-color: #e5e5e5;
	border-bottom: 1px solid #c0c0c0;
	font-size: 1.3em;
	color: #3378B9;
	text-align: center;
}

form label {
	display: block;
	padding-left: 10px;
	margin-bottom: 5px;
	font-size: 0.9em;
	font-weight: bold;
}

form > div { margin-bottom: 10px; }
form input:not(#submit-button) { width: calc(100% - 18px); }
form div#submit-element { text-align: center; }

form input#submit-button {
	margin-top: 15px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

form .error-message {
	display: block;
	margin: 5px 0;
	color: red;
}


/********************/
/* Inscription form */
/********************/

#form-inscription input#name,
#form-inscription input#firstname {
	display: inline-block;
}

#form-inscription input#name { width: 120px; }

#form-inscription input#firstname {
	width: 150px;
	margin-right: 0;
}


/**************/
/* Login form */
/**************/

#form-login #remember-form-element input,
#form-login #remember-form-element label {
	width: auto !important;
	display: inline-block;
}

/*******************/
/* Send Tweet form */
/*******************/

#text-form-element textarea {
	resize: none;
}

/****************/
/* User profile */
/****************/

#user-profile {
	display: block;
	width: 600px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #c0c0c0;
}

#user-profile h3 {
	padding: 9px;
	margin: 0;
	background-color: #e5e5e5;
	border-bottom: 1px solid #c0c0c0;
	font-size: 16px;
}

#user-profile #user-info-block { padding: 9px; }

#user-profile .info-element { margin-bottom: 20px; }

#user-profile .info-label {
	font-weight: bold;
	margin-bottom: 7px;
}

#user-profile .info-element > div:not(.info-label) {
	margin-left: 10px;
}

#user-profile img#user-avatar-image {
	max-width: 150px;
	max-height: 150px;
	margin-left: 10px;
}

/*********************/
/* User profile form */
/*********************/

#form-modify-profile input { width: auto !important; }


/*********/
/* Tweet */
/*********/

.tweet {
	width: 600px;
	margin: 30px auto;
	background-color: #fff;
	border: 1px solid #c0c0c0;
}

.tweet .context {
	padding: 9px;
	background-color: #e5e5e5;
	border-bottom: 1px solid #c0c0c0;
	font-weight: bold;
	font-size: 16px;
	color: #444;
}

.tweet .context a { color: auto !important; }

.tweet .votes-number {
	margin-top: 5px;
	color: #777;
}

/*********/
/* Post */
/*********/

.tweet .post {
	padding: 10px 17px;
	max-width: 600px;
}

.tweet .post-image {
	text-align: center;
	margin: 10px auto 0;
}
.tweet .post-image img {
	max-width: 100%;
}

.tweet .post-text {
	margin-bottom: 10px;
	color: #555;
}

.tweet .post-meta {
	display: table;
	width: 100%;
	margin-bottom: 5px;
}
.tweet .post-meta .author {
	display: table-cell;
	font-weight: bold;
}
.tweet .post-meta .author a {
	color: #444;
}
.tweet .post-meta .date {
	display: table-cell;
	margin-right: 10px;
	text-align: right;
	font-size: 0.8em;
	color: #888;
}
