
/*******/
/* CSS */
/*******/

/********/
/* Base */
/********/

body {
	background-color: #D8D8D8;
	font-family: 'sans-serif', 'Helvetica', 'Arial';
	margin: 0;
}

h1,h2,h3,h4 {
	color: #3378B9;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
}

th,td {
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 4px 10px;
	border-bottom: 1px solid #bbb;
}

tr.user {
	cursor: pointer;
	transition: background-color 0.7s;
	-webkit-transition: background-color 0.7s;
}

tr.user:hover {
	background-color: #fff;
}

p.error {
	color: red;
}

li {
	list-style-type: none;
	margin: 5px 0;
}

a {
	color: #555;
	text-decoration: none;
	background:linear-gradient(#23A3FF,#23A3FF) bottom no-repeat;
	background-size: 0% 2px;
	transition: background-size .2s;
	padding: 4px 2px;

}

a:hover {
	background-size: 100% 3px;
	cursor: pointer;
}

/********/
/* Main */
/********/

#main-container {
	margin: 20px auto 0;
	min-width: 350px;
}

#footer {
	margin: 50px auto 30px;
	text-align: center;
}

/************/
/* Nav menu */
/************/

#nav-menu {
	background-color: #e5e5e5;
	height: 51px;
	vertical-align: middle;
	white-space: nowrap;
	line-height: 51px;
	border-bottom: 1px solid #c0c0c0;
}

#nav-menu a {
	line-height: 1;
}

#nav-menu p {
	font-size: 1.3em;
	margin: 0;
}

/********/
/* Name */
/********/

#nav-menu p#name {
	float: left;
	margin-left: 30px;
}

#nav-menu #name a {
	color: #666;
	background: none;
}

#nav-menu p#name span.text,
#nav-menu p#name span.return,
#nav-menu #name a::before {
  display: inline-block;
  top: 15px;
  position: absolute;
	transition: all 0.3s;
	transition-delay: .1s;
}

#nav-menu p#name span.text {
  left: 45px;
  opacity: 1;
  font-weight: bold;
}

#nav-menu p#name:hover span.text {
  opacity: 0;
  left: 65px;
}

#nav-menu p#name span.return {
  opacity: 0;
  left: 65px;
}

#nav-menu p#name:hover span.return {
  opacity: 1;
  left: 45px;
}

#nav-menu #name a::before {
	content: 'â†';
	opacity: 0;
	top: 14px;
	left: -10px;
}

#nav-menu #name a:hover::before {
	opacity: 1;
	left: 18px;
}

/*********/
/* Links */
/*********/

#nav-menu nav#links {
	font-size: 1em;
	float: right;
	margin-right: 30px;
}

#nav-menu nav#links a {
	margin-left: 10px;
}

#nav-menu #link-other-actions #other-actions {
	opacity: 0;
	position: absolute;
	top: 48px;
	background-color: #e8e8e8;
	border: 1px solid #999;
	transition: all 0.4s;
	padding-bottom: 6px;
}
#nav-menu #link-other-actions #other-actions ul {
	padding: 5px 5px 0;
}

#nav-menu #link-other-actions #other-actions a {
	margin: 0;
}

#nav-menu #link-other-actions:hover div#other-actions {
	opacity: 1;
	transition-delay: 0;
}

/***********/
/* Content */
/***********/

#content {
	width: 600px;
	border: 1px solid #c0c0c0;
	background-color: #FFF;
	margin: 0 auto;
	text-align: center;
}

/********/
/* Form */
/********/

form label {
	display: block;
	margin-bottom: 5px;
	font-size: 0.9em;
	font-weight: bold;
	padding-left: 10px;
}

form h3 {
	font-size: 1.3em;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	padding-left: 5px;
	color: #3378B9;
}

form > div {
	margin: 0 0 10px 0;
}

form input:not(#submit-button) {
	width: calc(100% - 18px);
}

form div#submit-element {
	text-align: center;
}

form input#submit-button {
	margin-top: 15px;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
}

form .error-message {
	display: block;
	margin: 5px 0;
	color: red;
}

/********************/
/* Inscription form */
/********************/

#form-inscription {
	width: 310px;
	margin: 25px auto 0px;
	/*background-color: #FFF;*/
	/*text-align: center;*/
}

#form-inscription input#name, #form-inscription input#firstname {
	display: inline-block;
}

#form-inscription input#firstname {
	width: 150px;
	margin-right: 0;
}

#form-inscription input#name {
	width: 120px;
}

/**************/
/* Login form */
/**************/

#form-login {
	width: 350px;
	margin: 60px auto 0px;
}

#form-login #remember-form-element input, #form-login #remember-form-element label {
	width: auto !important;
	display: inline-block;
}

/****************/
/* User profile */
/****************/

#user-profile {
	display: block;
	width: 600px;
	border: 1px solid #c0c0c0;
	background-color: #FFF;
	margin: 0 auto;
}

#user-profile h3 {
	margin: 0;
	padding: 9px;
	font-size: 16px;
	border-bottom: 1px solid #c0c0c0;
	background-color: #e5e5e5;
}

#user-profile #user-info-block {
	padding: 9px;
}

#user-profile .info-element {
	margin-bottom: 20px;
}

#user-profile .info-label {
	font-weight: bold;
	margin-bottom: 7px;
}

#user-profile .info-element > div:not(.info-label) {
	margin-left: 10px;
}

#user-profile img#user-avatar-image {
	max-width: 150px;
	max-height: 150px;
	margin-left: 10px;
}

/*********************/
/* User profile form */
/*********************/

#form-modify-profile input {
	width: auto !important;
}


/*********/
/* Tweet */
/*********/

#tweet {
	border: 1px solid #c0c0c0;
	background-color: #FFF;
	margin: 30px 200px;
}

#tweet h3 {
	display: inline-block;
	margin: 5px;
}

#tweet h3 a {
	color: auto !important;
}

#tweet-block {
	margin: 0 0 15px 0;
	padding: 9px;
	font-size: 16px;
	border-bottom: 1px solid #c0c0c0;
	background-color: #e5e5e5;
}

#votes-number {
	padding: 9px;
	display: inline-block;
}

#post-block {
	padding: 9px;
}

#post-text {
	padding: 9px 9px 2px;
}

#post-image {
	margin: 0px auto;
	text-align: center;
}

#post-image img {
	max-width: 500px;
}

#post-meta {
	padding: 2px 9px 9px;
}

#post-meta #author{
	font-weight: bold;
}

#post-meta #date {
	font-size: 0.8em;
}
